body{
    font-size: 18px;
}

#menu a {
    font-weight:900;    
    color:#2C0A00;
    text-decoration:none;
    font-size:19px
}
.inptext{
    width: 200px;
}
.pas{
    width: 125px;
}
.knopka{
    font-family: Comic Sans MST;
    font-size: 18px;
    background: url(image/li_menu_2.gif) no-repeat 1px -2px;
    line-height: 1em;
}
.knopka_menu{
    font-family: Comic Sans MST;
    font-size: 18px;
}
#menu a {
    font-family: Comic Sans MST;
    font-size: 18px;
}
.inptext{
    font-family: Comic Sans MST;
    font-size: 18px;
}
.inptext_logPas{
    font-family: Comic Sans MST;
    font-size: 18px;
}
styled-select select {
    width: 100px;
    font-family: Comic Sans MST;
    font-size: 1px;
       padding: 0;
}
.styled-select {
   width: 200px;
td{
    font-family: Comic Sans MST;
    font-size: 18px;
}
.date select {
    width: 100px;
    font-family: Comic Sans MST;
    font-size: 18px;
}
.month select {
    font-family: Comic Sans MST;
    font-size: 18px;
}
.inptext_year{
    font-family: Comic Sans MST;
    font-size: 18px;
    height: 34px;
}