body{
    background: #2C0A00;
    text-align: center;
}
div {
    display: block;
}
#container {
    background: #ECD9AF;  
    margin: 0 auto;
    text-align: left;
    width: 979px;
}
#header {
    background: url(image/head.jpg);
    width: 979px;
    height: 252px;
    display: block;
}
#border { 
    width: 979px;
}
#main {
    margin: 0 0px 0 0px;
}
#left {
    width: 218px;
    float: left;
    display: inline;
   
}
#menu {
    background: url(image/menu.jpg);
    width: 318px;
    height: 428px;
}
#menubottom {
    background: url(image/bottom.jpg);
    background-repeat: no-repeat;
    width: 318px;
    height: 91px;
}
#right {
    float: right;
    width: 661px;
}
.content {
    width: 530px;
}
.clear {
    clear: both;
}
#finish{
    background: url(image/bottom_finish_1.jpg);
    height: 117px;
    width: 979px;    
}

#menu ul {
    padding: 30px 15px 0 0;
    width: 220px;
    margin-left: 45px;
}

#menu li {
    background: url(image/li_menu.gif);
    background-repeat: no-repeat;
    background-position: left center;
    border-bottom: 2px dotted #2C0A00;
    list-style-type: none;
    padding: 4px 0 4px 35px;
    text-align: left;
}
ul{
    padding: 5px 0 5px 20px
}
* {
    margin: 0;
    padding: 0;
}
.knopka{
    width:200px;
    cursor: pointer; /* »зменение вида курсора при наведении*/
}
@font-face {
   font-family: Bolero script;
   src: local("Bolero script"), url(css/Bolero-script.ttf);
}

#menu a {
    font-family: Bolero script, Comic Sans MS;
    /*font-family:Arial,Helvetica,sans-serif;*/
    /*font-style:italic;*/
    font-weight:900;    
    color:#2C0A00;
    text-decoration:none;
    font-size:16px
}
#menu a:hover {
    color:#0A4B05;    
}
a{
    color: #2C0A00;
    font-size: 17px
}
a:visited {
    color: #0A4B05; /* ÷вет посещенных ссылок */
}
a:active {
    color: #2C0A00; /* ÷вет активных ссылок */
}
.pas{
    width: 125px;
}